{% load static %}
<footer class="rodape">
    <img src="{% static 'logo pangeia/logo_transparent.png' %}" alt="" class="logo-rodape">
    <a href=""><img src="{% static 'pics/instagram.png' %}" alt="" class="imagem-rodape"></a>
    <a href=""><img src="{% static 'pics/linkedin.png' %}" alt="" class="imagem-rodape"></a>
    <a href=""><img src="{% static 'pics/facebook.png' %}" alt="" class="imagem-rodape"></a>

    <p class="copyright">Todos os direitos reservados &copy;</p>
    <p class="copyright">Pangeia 2022</p>     
</footer>