{% load static %}
<div class="menu__lateral-home">
    <ul>
        <li class="lista__icones">
            <a href="" class="lista__icones-link">
                <img src="{% static 'icones/open-book.png' %}" alt="" class="lista__icones-imagem">
            </a>   
        </li>
        <li class="lista__icones">
            <a href="" class="lista__icones-link">
                <img src="{% static 'icones/time.png' %}" alt="" class="lista__icones-imagem">
            </a>
        </li>
        <li class="lista__icones">
            <a href="" class="lista__icones-link">
                <img src="{% static 'icones/medals.png' %}" alt="" class="lista__icones-imagem">
            </a>
        </li>
        <li class="lista__icones">
            <a href="" class="lista__icones-link">
                <img src="{% static 'icones/download.png' %}" alt="" class="lista__icones-imagem">
            </a>
        </li>
        <li class="lista__icones">
            <a href="" class="lista__icones-link">
                <img src="{% static 'icones/shopping-cart.png' %}" alt="" class="lista__icones-imagem">
            </a>
        </li>
        <li class="lista__icones">
            <a href="" class="lista__icones-link">
                <img src="{% static 'icones/dollar.png' %}" alt="" class="lista__icones-imagem">
            </a>
        </li>
        <li class="lista__icones">
            <a href="" class="lista__icones-link">
                <img src="{% static 'icones/help-web-button.png' %}" alt="" class="lista__icones-imagem">
            </a>
        </li>
    </ul>
</div>