{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'logo pangeia/favicon.png' %}" type="image/x-icon" />
    <title>Página inicial - Pangeia</title>
</head>
<body>
    <main class="container-home">
        {% include 'partials/_menu.html' %}   
        {% include 'partials/_busca.html' %}
        
            <!--Começo dos cards das aulas-->
            <section class="aulas">
                {% if aulas %}
                {% for aula in aulas %}
                <div class="aulas-link">
                    <img src="{{ aula.foto_aula.url }}" alt="" class="aulas-imagem">
                    <a href="{% url 'spanish' aula.id %}" class="nome-aulas">
                        {{ aula.nome_aula }}
                    </a>
                </div>
                {% endfor %}
                {% else %}
                <p style="color: white; padding: 1em;">Aula não encontrada</p>
                {% endif %}
            </section>
            <!--Fim dos cards das aulas-->
            
        </section>

    </main>

    {% include 'partials/_footer.html' %}
</body>
</html>